.biography-section {
    background-color: var(--first-pigment);
    padding: 0.5rem;
    margin-block: 1.5rem;
    border-radius: 0.75rem;
}

.biography-btn {
    display: flex;
    align-items: center;
}

.biography-btn:hover {
    color: var(--second-pigment);
}

.biography-btn:hover .biography-sign {
    fill: var(--second-pigment);
}

.biography-btn > h3 {
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.biography-btn.--active > h3 {
    color: var(--first-yellow);
}

.biography-sign {
    margin: 0;
    padding-right: 0.5rem;
}

.biography-title {
    margin: 0;
}

.biography-desc {
    /* padding: 0.5rem;
    padding-left: 1rem; */
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    overflow: hidden;
    padding-inline: 1rem;
    /* display: none; */
    /* transform-origin: 0 0; */
    transition: all 0.3s ease-in;
    /* animation: ApparitionReverse 0.5s ease-in-out forwards; */
}

.biography-desc.--active {
    /* display: block;
    animation: Apparition 0.5s ease-in-out forwards; */
    grid-template-rows: 1fr;
    opacity: 1;
}

/* Card */
.biography-desc-content {
    margin-block: 0.5rem;
    overflow: hidden;
}

.biography-sign {
    flex-shrink: 0;
    fill: var(--first-white);
    padding: 0;
    margin-right: 0.5rem;
    cursor: pointer;
    transform: scale(0.8);
}

.biography-sign-piece {
    transform-origin: center;
    transition: all 0.3s ease-out;
}

.biography-sign-piece.inverted {
    transform: rotate(90deg);
}

.biography-btn.--active .biography-sign-piece {
    transform: rotate(180deg);
    fill: var(--first-yellow);
}

/* @keyframes Apparition {
    0% {
        opacity: 0;
        transform: scaleY(0.9);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes ApparitionReverse {
    0% {
        height: 300px;
        opacity: 1;
        transform: scaleY(1);
    }

    100% {
        height: 0;
        opacity: 0;
        transform: scaleY(0.9);
    }
} */

@media screen and (min-width: 1080px) {
    .biography-section {
        padding: 1rem;
    }

    .biography-desc {
        padding-inline: 2rem;
    }
}
