.skills-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills-link {
    width: 30%;
    margin-block: 2rem;
    transition: all 0.3s ease-in;
}

.skills-link:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 1080px) {
    .skills-link {
        width: 15%;
        margin-block: 3rem;
        margin-inline: 1rem;
    }
}
